
@{
    ViewBag.Title = "Contac Us";
    Layout = "~/Views/Shared/_NPSLayout.cshtml";
}


<div class="container-fluid banner-img for-login">
    <div class="container">
        <div class="customer-login">
            <div class="">
                <div class="customer-login">
                    <div class="row returning-customer">
                        <label class="paid">Email Sent</label>
                    </div>
                    <div class="row all-customer-details">
                        <div class="col-md-6 payment-received">
                            <h2>Your Emmail has been sent!</h2>
                        </div>
                        <div class="col-md-6 even-more">
                            <div class="col-lg-8 col-md-8 col-sm-5 banner banner1">
                                <div class="mensaje">
                                    <span>GET EXCLUSIVE OFFERS</span>
                                    <a class="btn btn-primary btn-lg" href="#" role="button">LEARN MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10"><br /><br /><br /><br /><br /><br /><br /><br /></div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="~/Scripts/jquery-1.11.3.min.js"></script>



<script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>

<script src="~/Scripts/bootstrap-rating-input.min.js"


    <script src="~/Scripts/common.js"></script>


@Scripts.Render("~/bundles/jqueryval")

