
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_NPSLayout.cshtml";
}
<div class="container-fluid banner-img for-login">
    <div class="container">
        <div class="customer-login">
            <div class="">
                <div class="customer-login">
                    <div class="row returning-customer">
                        <label class="paid">FAQ </label>
                    </div>
                    <div class="row all-customer-details">
                        <div class="col-md-6">
                            <h2>FAQ</h2>
                            <p>
                                <b><u>I have not received an email confirmation</u></b>
                                <br />
                                <br/>Please check the junk/spam folder in case the email has arrived in this folder. If you have a Gmail or Googlemail account please check the Promotions Tab as our confirmations tend to arrive here. If you still cannot see the email log on to your account and request a copy confirmation
                            </p>
                            <p>
                                <b><u>How long does it take to get to the airport from the car park?</u></b>
                                <br />
                                <br />
                                <b>APL Park and Ride Manchester:</b> shuttle service runs every 15 minutes and the journey to the terminals takes between 5 - 10 minutes depending on time of travel
                                <br/>
                                <b>FSS Flight Shuttle Services Park and Ride:</b>The shuttle service runs every 15 minutes and the journey to the terminals takes between 5 - 10 minutes depending on time of travel.
                                <br />
                                <b>Executive Airport Parking Meet and Greet:</b>You are met directly outside of the terminal you are flying from - Please call the number provided on your confirmation email.
                                <br />
                                <b>MCR Meet and Greet: </b>You are met directly outside of the terminal you are flying from - Please call the number provided on your confirmation email. 
                            </p>

                            <p>
                                <b><u>What happens if we return early?</u></b>
                                <br />
                                Please contact the car park or chauffeur to have your vehicle ready for your return. Refunds however, cannot be made for unused or part stays.
                            </p>
                            <p>
                                <b><u>What do I do if I want to cancel my booking?</u></b>
                                <br />
                                You can either send an e-mail, use the Contact Form or simply call our admin team on: 0161 694 0404 during office hours: Monday - Friday 9:00am -  5pm - Cancellations must be reported 48 hours prior to your date of travel otherwise no refunds will be given - A £10.00 Admin Fee will still apply to all cancellations.
                            </p>
                            <p>
                                <b><u>Do I need to leave my keys?</u></b>
                                <br />
                                Yes, unless otherwise stated.
                            </p>
                           
                        </div>
                        <div class="col-md-6 even-more">
                            <div class="col-lg-8 col-md-8 col-sm-5 banner banner1">
                                <div class="mensaje">
                                    <span>GET EXCLUSIVE OFFERS</span>
                                    <a class="btn btn-primary btn-lg" href="#" role="button">LEARN MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="~/Scripts/jquery-1.11.3.min.js"></script>



<script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>

<script src="~/Scripts/bootstrap-rating-input.min.js"></script>


    <script src="~/Scripts/common.js"></script>


@Scripts.Render("~/bundles/jqueryval")