@{
    ViewBag.Title = "About";
}
<div class="container-fluid banner-img for-login">
    <div class="container">
        <div class="customer-login">
            <div class="">
                <div class="customer-login">
                    <div class="row returning-customer">
                        <label class="paid">Contact Us </label>
                    </div>
                    <div class="row all-customer-details">
                        <div class="col-md-6 payment-received">
                            <h2>National Parking Services offer the best value Park and Ride and Meet and Greet Manchester Airport Parking products. </h2>
                            <p>Meet and Greet Manchester airport parking does not involve bus transfers, our customers are met right outside departures of the terminal they are flying from / returning to. Meet and greet is also referred to as chauffeur parking and valet parking.</p>

                            <p> Park and Ride Parking is usually a cheaper alternative to Meet and Greet Parking.</p>
                            <p>
                                <strong> All services operate at Terminals 1, 2 & 3. </strong>
                                Our customers drive to the secure car park where they are booked in by friendly staff, customers are then transferred by coaches to the airport - The bus service runs approximately every 15 - 20 minutes.
                            </p>
                            <p>
                                Book Online Today or call us and book in over the phone.</p>
                        </div>
                        <div class="col-md-6 even-more">
                            <div class="col-lg-8 col-md-8 col-sm-5 banner banner1">
                                <div class="mensaje">
                                    <span>GET EXCLUSIVE OFFERS</span>
                                    <a class="btn btn-primary btn-lg" href="#" role="button">LEARN MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                                    }

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="~/Scripts/jquery-1.11.3.min.js"></script>



<script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>

<script src="~/Scripts/bootstrap-rating-input.min.js"


    <script src="~/Scripts/common.js"></script>


@Scripts.Render("~/bundles/jqueryval")
