<div class="jumbotron">
    <h1>TheCarParkSupermarket.com</h1>
    <p class="lead">Full API v0.1</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">    
    <div class="col-md-6">
        <h2>What is TheCarParkSupermarket.com API?</h2>
        <p>
            TheCarParkSupermarket.com Web API is a framework that makes it easy to build HTTP services that reach a broad range
            of clients, including browsers and mobile devices. TheCarParkSupermarket.com Web API is an ideal platform for building
            RESTful applications on the .NET Framework.
        </p>        
        <p><a class="btn btn-info" href="http://thecarparksupermarket.azurewebsites.net/Help">Full Documentation&raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Connectivity</h2>
        <p>
            A Web API can be connected with all sort of sources, the goal of this API it is to be able to produce User Interfaces, Web Sites,
            Mobile Phone applications, Desktop Applications, analytics etc. with all the data coming from the same source.
        </p>  
        <p>
            In addition to this, the API should be abstracted from the database, so any queries could be done with a browser or spreadsheet.
        </p>        
    </div>
</div>
