/* Small hack to hide the validation */
.field-validation-valid
{
    display: none;
}
.validation-summary-valid
{
    display: none;
}
.field-validation-error
{
    font-size:12px;
}
.jumbotron 
{
    line-height:1.5; 
}
.creditcard-payment-form {
    border-bottom: none!important;
}
